<a href="https://colab.research.google.com/github/Fahadi23/googlecolab-233584/blob/main/233584_Lab_1_of_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
! python --version

Python 3.12.11

 1. Write a program to check if a number is prime.

In [44]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example test
num = 20
print(f"Is {num} prime? ->", is_prime(num))

Is 20 prime? -> False

2. Create a list of 10 numbers and print their average.

In [45]:
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
average = sum(numbers) / len(numbers)
print("Numbers:", numbers)
print("Average:", average)

Numbers: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Average: 27.5

3. Store student names and marks in a dictionary and display the topper.

In [46]:
students = {
    "Alice": 88,
    "Bob": 92,
    "Charlie": 79,
    "David": 95,
    "Eve": 91
}

topper = max(students, key=students.get)
print("Students and marks:", students)
print("Topper:", topper, "with marks", students[topper])

Students and marks: {'Alice': 88, 'Bob': 92, 'Charlie': 79, 'David': 95, 'Eve': 91}
Topper: David with marks 95

4. Demonstrate set operations: union, intersection, difference.

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference (set1 - set2):", set1 - set2)
print("Difference (set2 - set1):", set2 - set1)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

5. Write a function to compute factorial using recursion.

In [48]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

num = 6
print(f"Factorial of {num} is", factorial(num))

Factorial of 6 is 720

6. Use a for loop to print the Fibonacci series up to n terms.

In [49]:
n = 10  # number of terms
a, b = 0, 1

print("Fibonacci series up to", n, "terms:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

7. Read a string and count the number of vowels.

In [51]:
text = "Google Colab makes Python super handy"
vowels = "aeiouAEIOU"
count = sum(1 for char in text if char in vowels)

print("Input string:", text)
print("Number of vowels:", count)

Input string: Google Colab makes Python super handy
Number of vowels: 11

8. Create a tuple of numbers and find the maximum and minimum.

In [52]:
numbers_tuple = (12, 45, 67, 2, 34, 89, 23)
print("Numbers in tuple:", numbers_tuple)
print("Maximum:", max(numbers_tuple))
print("Minimum:", min(numbers_tuple))

Numbers in tuple: (12, 45, 67, 2, 34, 89, 23)
Maximum: 89
Minimum: 2

9. Create a program that asks for user input and reverses the string.

In [56]:
user_input = input("Enter a string: ")
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

Enter a string: Alwaz Siddque
Reversed string: euqddiS zawlA

Activity-1

In [57]:
print(1 + 3)
print(10 / 2)
print(5 ** 2)

4
5.0
25

Activity-2

In [58]:
print("python" + " basics")
print("AI " * 3)

python basics
AI AI AI

Activity-3

In [59]:
fruit = "apple"
print(fruit)
fruit = 17
print(fruit)
x = str(3); y = int(3); z = float(3)
print(type(x), type(y), type(z))

apple
17
<class 'str'> <class 'int'> <class 'float'>

Activity-4

In [60]:
# Step 1: Create a list with different data types (string, float, string,integer)
mylist = ["apple", 34.5, "banana", 9]

# Step 2: Print the entire list to verify its contents
print("Complete list:", mylist)

# Step 3: Access and print the first element (index 0)
print("First element:", mylist[0])

# Step 4: Access and print the last element using negative indexing

print("Last element:", mylist[-1])



# Step 6: Extract and print every second element using step in slicing
print("Every second element:", mylist[::2])

# Step 8: Append a new item to the list
mylist.append("grape")
print("List after appending 'grape':", mylist)

# Step 9: Remove a specific item from the list
mylist.remove("banana")
print("List after removing 'banana':", mylist)

# Step 10: Replace the value at index 1 with a new value
mylist[1] = 99.9
print("List after updating index 1:", mylist)

Complete list: ['apple', 34.5, 'banana', 9]
First element: apple
Last element: 9
Every second element: ['apple', 'banana']
List after appending 'grape': ['apple', 34.5, 'banana', 9, 'grape']
List after removing 'banana': ['apple', 34.5, 9, 'grape']
List after updating index 1: ['apple', 99.9, 9, 'grape']

Activity-5

In [61]:
# Step 1: Create a dictionary with key–value pairs
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Initial dictionary:", car)

# Step 2: Access the value of a specific key
print("Model of the car:", car["model"])

# Step 3: Update the value of an existing key
car["year"] = 2024
print("After updating 'year':", car)

# Step 4: Add a new key–value pair
car["color"] = "red"
print("After adding a new key 'color':", car)

# Step 5: Remove a specific key–value pair using pop()
removed_value = car.pop("model")
print("Removed 'model' key with value:", removed_value)
print("Dictionary after pop operation:", car)

# Step 6: Remove the last inserted key–value pair using popitem()
last_item = car.popitem()
print("Removed the last inserted item:", last_item)
print("Dictionary after popitem:", car)

# Step 7: Get a value safely using get() (avoids error if key not found)
print("Get 'brand' safely:", car.get("brand"))
print("Get non-existing key safely (returns None):", car.get("engine"))

# Step 9: View all keys, values, and key–value pairs
print("All keys:", car.keys())
print("All values:", car.values())
print("All items (key–value pairs):", car.items())

# Step 10: Create a shallow copy of the dictionary

car_copy = car.copy()
print("Shallow copy of dictionary:", car_copy)

# Step 11: Clear all elements from the dictionary
car.clear()
print("Dictionary after clearing all items:", car)

Initial dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Model of the car: Mustang
After updating 'year': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024}
After adding a new key 'color': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024, 'color': 'red'}
Removed 'model' key with value: Mustang
Dictionary after pop operation: {'brand': 'Ford', 'year': 2024, 'color': 'red'}
Removed the last inserted item: ('color', 'red')
Dictionary after popitem: {'brand': 'Ford', 'year': 2024}
Get 'brand' safely: Ford
Get non-existing key safely (returns None): None
All keys: dict_keys(['brand', 'year'])
All values: dict_values(['Ford', 2024])
All items (key–value pairs): dict_items([('brand', 'Ford'), ('year', 2024)])
Shallow copy of dictionary: {'brand': 'Ford', 'year': 2024}
Dictionary after clearing all items: {}

Activity-6

In [62]:
# Step 1: Create a set with unique string elements
thisset = {"apple", "banana", "cherry"}
print("Initial set:", thisset) # Sets are unordered, so order may differ

# Step 2: Create a mixed-type set (strings, numbers, booleans)
set1 = {"abc", 34, True, 40, "male"}
print("Mixed-type set:", set1)

# Step 3: Add a single new element to a set
thisset.add("orange")

print("After adding 'orange':", thisset)

# Step 4: Add multiple elements at once using update()
thisset.update(["grape", "mango"])
print("After adding multiple elements:", thisset)

# Step 5: Remove a specific element using remove()
# (Raises an error if element does not exist)
thisset.remove("banana")
print("After removing 'banana':", thisset)
# Step 6: Remove an element safely using discard() (no error if not present)
thisset.discard("papaya")
print("After attempting to discard 'papaya' (not present):", thisset)
# Step 7: Remove and return an arbitrary element using pop()
removed_item = thisset.pop()
print("Removed an arbitrary element:", removed_item)
print("Set after pop operation:", thisset)

# Step 8: Check membership of an element
print("Is 'apple' in the set?", "apple" in thisset)

# Step 9: Perform set union (all unique elements from both sets)
union_set = thisset.union(set1)

print("Union of thisset and set1:", union_set)

# Step 10: Perform set intersection (common elements in both sets)
intersection_set = thisset.intersection(set1)
print("Intersection of thisset and set1:", intersection_set)

# Step 11: Perform set difference (elements only in thisset)
difference_set = thisset.difference(set1)
print("Difference (thisset - set1):", difference_set)

# Step 12: Create a shallow copy of the set
copy_set = thisset.copy()
print("Copy of the set:", copy_set)

# Step 13: Clear all elements from the set
thisset.clear()
print("Set after clearing all elements:", thisset)

Initial set: {'cherry', 'apple', 'banana'}
Mixed-type set: {True, 34, 40, 'abc', 'male'}
After adding 'orange': {'cherry', 'apple', 'orange', 'banana'}
After adding multiple elements: {'grape', 'cherry', 'orange', 'mango', 'banana', 'apple'}
After removing 'banana': {'grape', 'cherry', 'orange', 'mango', 'apple'}
After attempting to discard 'papaya' (not present): {'grape', 'cherry', 'orange', 'mango', 'apple'}
Removed an arbitrary element: grape
Set after pop operation: {'cherry', 'orange', 'mango', 'apple'}
Is 'apple' in the set? True
Union of thisset and set1: {True, 34, 'cherry', 'orange', 40, 'abc', 'mango', 'male', 'apple'}
Intersection of thisset and set1: set()
Difference (thisset - set1): {'orange', 'apple', 'mango', 'cherry'}
Copy of the set: {'orange', 'apple', 'mango', 'cherry'}
Set after clearing all elements: set()

Activity-7

In [63]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Activity-8

In [64]:
a, b = 33, 200

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

Activity-9

In [65]:
# Step 1: Basic range iteration (prints numbers 0 to 4)
for i in range(5):
    print("Number:", i)

# Step 2: Use a custom start and end (prints numbers 2 to 6)
for i in range(2, 7):
    print("From 2 to 6:", i)

# Step 3: Use a step value (prints even numbers from 0 to 8)
for i in range(0, 10, 2):
    print("Even number:", i)

# Step 4: Iterate in reverse order (prints numbers 5 down to 1)
for i in range(5, 0, -1):
    print("Countdown:", i)

# Step 5: Use range with a list (access both index and value)
fruits = ["apple", "banana", "cherry"]
for index in range(len(fruits)):
    print("Index:", index, "Fruit:", fruits[index])

# Step 6: Use an if-condition inside the loop (print only odd numbers)
for i in range(10):
    if i % 2 != 0:
        print("Odd number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
From 2 to 6: 2
From 2 to 6: 3
From 2 to 6: 4
From 2 to 6: 5
From 2 to 6: 6
Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

Activity-10

In [66]:
# Step 1: Basic function with two parameters
def my_function(fname, lname):
    # Concatenate first and last name and print the full name
    print("Full name:", fname + " " + lname)

# Call the function with two string arguments
my_function("Emil", "Refsnes")


# Step 2: Function with arbitrary positional arguments (*args)
def kids_function(*kids):
    # *kids collects all arguments into a tuple
    # Access the third child (index 2) and print it
    print("The youngest child is:", kids[2])

# Call the function with three arguments
kids_function("Emil", "Tobias", "Linus")


# Step 3: Function with default arguments
def greet_user(name="Guest"):
    # Prints a greeting, using "Guest" if no name is given
    print("Hello,", name)

greet_user()       # Uses default value
greet_user("Alice")  # Uses provided value


# Step 4: Function with arbitrary keyword arguments (**kwargs)
def describe_pet(**pet_info):
    # **pet_info collects keyword arguments into a dictionary
    # Access values by their keys
    print("Pet details:")
    for key, value in pet_info.items():
        print(key.capitalize() + ":", value)

# Call the function with keyword arguments
describe_pet(type="Dog", name="Buddy", age=5)


# Step 5: Function returning a value
def add_numbers(a, b):
    # Returns the sum of two numbers
    return a + b

result = add_numbers(10, 20)
print("Sum of numbers:", result)

Full name: Emil Refsnes
The youngest child is: Linus
Hello, Guest
Hello, Alice
Pet details:
Type: Dog
Name: Buddy
Age: 5
Sum of numbers: 30